body{
    background-color: aliceblue;
}

h1{
    text-align: center;
}



li{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

label{
    text-align: center;
}

input{
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 10px;
}

button{
    margin: 0 auto;
    padding: 4px 30px;
    border-radius: 5px;
    display: block;
    background-color: rgb(36, 86, 131);
    color: rgb(37, 160, 137);
}

button:hover{
    border: 2px solid black;
}

